<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!--bean id="jdbcDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
        <property name="url" value="jdbc:oracle:thin:@10.18.18.12:1521:hrm6" />
        <property name="username" value="THUEKENH" />
        <property name="password" value="123456" />       
    </bean-->
    <!-- -->
	<bean id="jdbcDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
        <property name="url" value="jdbc:oracle:thin:@192.168.1.105:1521:TEST" />
        <property name="username" value="THUEKENH" />
        <property name="password" value="123456" />       
    </bean>
	
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/ORACLE_VMS" />
		<property name="resourceRef" value="true"/>
		<property name="proxyInterface" value="javax.sql.DataSource" />
		<property name="lookupOnStartup" value="true" />
	</bean>
	<bean id="daoFactory" class="vms.db.dao.DaoFactory">
		<property name="dataSource" ref="dataSource"/>
		<property name="jdbcDataSource" ref="jdbcDataSource"/>
	</bean>
   
	<!-- Class Action -->
	<bean id="testAction" scope="prototype" class="vms.web.actions.TestAction">
        <constructor-arg ref="daoFactory" />
    </bean>
	<bean id="loginAction" scope="prototype" class="vms.web.actions.LoginAction">
        <constructor-arg ref="daoFactory" />
    </bean>
	<bean id="indexAction" scope="prototype" class="vms.web.actions.IndexAction">
        <constructor-arg ref="daoFactory" />
    </bean>
	<bean id="userAction" scope="prototype" class="vms.web.actions.UserAction">
        <constructor-arg ref="daoFactory" />
    </bean>
	<bean id="ajaxAction" scope="prototype" class="vms.web.actions.AjaxAction">
        <constructor-arg ref="daoFactory" />
    </bean>
	<bean id="groupAction" scope="prototype" class="vms.web.actions.GroupAction">
        <constructor-arg ref="daoFactory" />
    </bean>
	<bean id="permissionAction" scope="prototype" class="vms.web.actions.PermissionAction">
        <constructor-arg ref="daoFactory" />
    </bean>
    <bean id="phongbanAction" scope="prototype" class="vms.web.actions.DanhMucPhongBanAction">
        <constructor-arg ref="daoFactory" />
    </bean>
    <bean id="tieuchuanAction" scope="prototype" class="vms.web.actions.DanhMucTieuChuanAction">
        <constructor-arg ref="daoFactory" />
    </bean>
    <bean id="loaigiaotiepAction" scope="prototype" class="vms.web.actions.DanhMucLoaiGiaoTiepAction">
        <constructor-arg ref="daoFactory" />
    </bean>
    <bean id="congthucAction" scope="prototype" class="vms.web.actions.DanhMucCongThucAction">
        <constructor-arg ref="daoFactory" />
    </bean>
    <bean id="khuvucAction" scope="prototype" class="vms.web.actions.DanhMucKhuVucAction">
        <constructor-arg ref="daoFactory" />
    </bean>
    <bean id="doitacAction" scope="prototype" class="vms.web.actions.DanhMucDoiTacAction">
        <constructor-arg ref="daoFactory" />
    </bean>
    <bean id="duanAction" scope="prototype" class="vms.web.actions.DanhMucDuAnAction">
        <constructor-arg ref="daoFactory" />
    </bean>
	<bean id="tuyenkenhAction" scope="prototype" class="vms.web.actions.TuyenkenhAction">
        <constructor-arg ref="daoFactory" />
    </bean>
	<bean id="tuyenkenhdexuatAction" scope="prototype" class="vms.web.actions.TuyenkenhDexuatAction">
        <constructor-arg ref="daoFactory" />
    </bean>
	<bean id="sucoAction" scope="prototype" class="vms.web.actions.SuCoAction">
        <constructor-arg ref="daoFactory" />
    </bean>
	<bean id="dexuatAction" scope="prototype" class="vms.web.actions.DeXuatAction">
        <constructor-arg ref="daoFactory" />
    </bean>
	<bean id="fileuploadAction" scope="prototype" class="vms.web.actions.FileUploadAction">
        <constructor-arg ref="daoFactory" />
    </bean>
	<bean id="importAction" scope="prototype" class="vms.web.actions.ImportAction">
        <constructor-arg ref="daoFactory" />
    </bean>
    <bean id="bienbanvanhanhkenhAction" scope="prototype" class="vms.web.actions.BienBanVanHanhKenhAction">
        <constructor-arg ref="daoFactory" />
    </bean>
    <bean id="tiendobangiaoAction" scope="prototype" class="vms.web.actions.TienDoBanGiaoAction">
        <constructor-arg ref="daoFactory" />
    </bean>
    <bean id="bangiaoAction" scope="prototype" class="vms.web.actions.BanGiaoAction">
        <constructor-arg ref="daoFactory" />
    </bean>
    <bean id="diemdaucuoiAction" scope="prototype" class="vms.web.actions.DanhMucDiemDauCuoiAction">
        <constructor-arg ref="daoFactory" />
    </bean>
	<bean id="tramAction" scope="prototype" class="vms.web.actions.TramAction">
        <constructor-arg ref="daoFactory" />
    </bean>
	<bean id="chiTietPhuLucAction" scope="prototype" class="vms.web.actions.ChiTietPhuLucAction">
        <constructor-arg ref="daoFactory" />
    </bean>
    <bean id="hopdongAction" scope="prototype" class="vms.web.actions.HopDongAction">
        <constructor-arg ref="daoFactory" />
    </bean>
    <bean id="thanhtoanAction" scope="prototype" class="vms.web.actions.ThanhToanAction">
        <constructor-arg ref="daoFactory" />
    </bean>
	<bean id="phuLucAction" scope="prototype" class="vms.web.actions.PhuLucAction">
        <constructor-arg ref="daoFactory" />
    </bean>
    <bean id="bangdoisoatcuocAction" scope="prototype" class="vms.web.actions.BangDoiSoatCuocAction">
        <constructor-arg ref="daoFactory" />
    </bean>
	<bean id="reportAction" scope="prototype" class="vms.web.actions.ReportAction">
        <constructor-arg ref="daoFactory" />
    </bean>
	<bean id="popupAction" scope="prototype" class="vms.web.actions.PopupAction">
        <constructor-arg ref="daoFactory" />
    </bean>
	<bean id="exportAction" scope="prototype" class="vms.web.actions.ExportAction">
        <constructor-arg ref="daoFactory" />
    </bean>
</beans>

